@import "~antd/dist/antd.css";
body {
  font-weight: 300;
}

.intro {
  background: #eee;
  color: #444;
  text-align: center;
}

@media (min-width: 991px) {
  .intro {
    position: fixed;
    top: 0;
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 991px) {
  .intro {
    padding: 30px;
  }
}

.intro .name {
  font-size: 40px;
  font-weight: 300;
  margin: 10px 0 0 0;
}

.intro .description {
  font-size: 18px;
  font-weight: 200;
}

.resume {
  padding: 50px;
}
.resume p {
  font-size: 18px;
}

.nav .anticon {
  font-size: 38px;
}
.nav ul li a {
  padding: 20px 10px;
  color: #333;
  text-transform: uppercase;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline;
}
.print-button {
  position: absolute;
  top: 0;
  right: 0;
}

.print-button button {
  border-radius: 0 !important;
  font-size: 22px;
}

@media print {
  .nav {
    display: none;
  }

  .ant-back-top {
    display: none;
  }

  .print-button {
    display: none;
  }
}

